<footer>
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-start">
            <p>{{ "now"|date("Y") }} &copy; <strong>SchoolPrepar</strong></p>
        </div>
        <div class="float-end">
            <p>IT232 — Développement Web II</p>
        </div>
    </div>
</footer>
