

<form method="post" action="{{ path('app_etablissement_delete', {'id': etablissement.id}) }}"
      onsubmit="return confirm('Confirmer la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etablissement.id) }}">
    <button class="btn btn-danger btn-sm">
        <i class="bi bi-trash me-1"></i> Supprimer
    </button>
</form>
