<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block body %}
        <div style="padding: 20px; font-family: sans-serif;">
            <a href="{{path("acceuill")}}"> Retour</a>
            <h1 style="color: #007bff;text-align:center;">Tableau de Bord Enseignant</h1>
            <hr>
        <ul style="text-align:center;">
            <button>Gérer mes classes</button>
            <button>Ajouter un support de cours</button>
            <button>Consulter les notes des élèves</button>
        </ul>
        </div>
    {% endblock %}
    </body>
</html>